@import "bootstrap/functions";
@import "bootstrap/variables";


@import "bootstrap/bootstrap.scss";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
}

.navbar{
    height: 50px;
    --bs-navbar-brand-margin-end: 0;
    --bs-navbar-padding-y: 0.25rem;
    &-icon {
        width: 50px;
        height: 40px;
    }
}

.collapse{
    max-width: 50vw;
}

.main{
    gap: 18px;
    &-container{
        width: 95%;
        gap: 15px;
    
    }
}

.indicator{
    font-size: 13px;
    color: #717171;
    background: var(--form-bg);
    padding-left: 3px;
}

.input-search{
    width: 70%;
}

.avatar{
    width: 40px;
    height: 40px;
}

.placeholder{
    right: 48%;
}

.logo-about{
    width: 18px;
    height: 18px;
}

.button{
    background-image: url(../images/Danae.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.list-tags{
    margin-bottom: 140px;
}

.small-text{
    font-size: 12px;
}

.btn{
    border-color: #3B49DF;
    color: #3B49DF;
    width: fit-content;
    &:hover{
        background-color: #3B49DF;
        border-color: #3B49DF;
    }
}

.profile-image{
    width: 32px;
    height: 32px;
}

.width-sections{
    width: 75%;
}

@media only screen and (max-width: 992px) {
    .width-sections{
        width: 100%;
        display: flex;
    }



}